<%- include("partials/header") %>

<main class="appointments">
  <nav class="navbar navbar-expand-md navbar-dark fixed-top cus-bg-dark p-1">
    <div class="container-fluid px-2 py-2">
      <a class="navbar-brand d-block px-3" href="/services">LOCLY</a>
      </button>
    </div>
  </nav>

  <div class="row mt-5 pt-5">
    <div class="col-md-4">
      <div class="list-group">
        <% appointments.map((app, i) => { %>
        <a class="list-group-item list-group-item-action" aria-current="true">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= i+1 %>. <%= app.name %></h5>
          </div>
          <p class="mb-1"><strong>Address:</strong> <%= app.address %></p>
          <small><strong>Contact: </strong><%= app.mobile %></small><br>
            <small><%= app.date.toDateString() %></small><br>
            <small><%= app.date.toLocaleTimeString() %></small>
        </a>
        <% }) %>
      </div>
    </div>
  </div>
</main>

<%- include("partials/footer") %>
