<%- include("partials/header") %>

<main class="service-page">

  <!-- Navbar -->
  <nav class="navbar navbar-expand-md navbar-dark fixed-top cus-bg-dark p-1">
    <div class="container-fluid px-2 py-2">
      <a class="navbar-brand d-block px-3" href="/">LOCLY</a>
      <!-- <h3 class="logo px-3 d-inline"><a href="/">LOCLY</a></h3> -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <!-- <span class="text-light d-md-none d-block"><i class="fas fa-user-circle"></i> Welcome, <%= currentUser.firstName %></span> -->
        <ul class="navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-bookmark"></i> About</a
            >
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link active dropdown-toggle"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="fas fa-briefcase"></i> Services
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item" href="#">Painter</a></li>
              <li><a class="dropdown-item" href="#">Laundry</a></li>
              <li><a class="dropdown-item" href="#">Carpenter</a></li>
              <li><a class="dropdown-item" href="#">Electrician</a></li>
              <li><a class="dropdown-item" href="#">Plumber</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"
              ><i class="fas fa-phone-square-alt"></i> Contact</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              href="#"
              data-bs-toggle="offcanvas"
              data-bs-target="#offcanvasWithBothOptions"
              aria-controls="offcanvasWithBothOptions"
              ><i class="fas fa-user-circle"></i> Welcome, <%=
              currentUser.firstName %></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout"
              ><i class="fas fa-sign-out"></i> logout</a
            >
          </li>
        </ul>
      </div>
      <!-- <span class="text-light d-md-block d-none px-3"
        ><i class="fas fa-user-circle"></i> Welcome, <%= currentUser.firstName %></span
      > -->
    </div>
  </nav>

  <div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="offcanvasWithBothOptions"
    aria-labelledby="offcanvasWithBothOptionsLabel"
  >
    <div class="offcanvas-header">
      <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">
        <i class="fas fa-user-circle"></i> Welcome, <%= currentUser.firstName %>
      </h5>
      <button
        type="button"
        class="btn-close text-reset"
        data-bs-dismiss="offcanvas"
        aria-label="Close"
      ></button>
    </div>
    <div class="offcanvas-body">
      <p>
        <div class="justify-content-center">
          <div class="user-icon">
            <%= currentUser.firstName[0] %><%= currentUser.lastName[0] %>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><%= currentUser.firstName %><%= currentUser.lastName %></li>
          <li class="list-group-item"><%= currentUser.username %></li>
          <li class="list-group-item"><%= currentUser.contactNumber %></li>
        </ul>
      </p>
    </div>
  </div>

  <div class="services-main">
    <!-- Service Title -->
    <!-- <div class="container p-4 service_title_div text-center">
        <span class="h3 text-dark service_title">All Services</span>
      </div> -->

    <!-- Service Card Section -->
    <div class="p-4">
      <!-- https://randomuser.me/api/portraits/men/12.jpg -->

      <div class="row g-3 justify-content-center">
        <% services.forEach((service) => { %>
        <div class="col-md-3">
          <div class="p_card pb-3">
            <div class="p_card_top p-2">
              <div class="provider_pic_container">
                <img
                  src="https://randomuser.me/api/portraits/men/2.jpg"
                  class="img-fluid provider_pic"
                  alt="pic"
                />
              </div>
              <div class="provider_info p-2">
                <h5 class="m-0 p-1"><%= service.provider %></h5>
                <p class="m-0 p-1 text-muted"><%= service.area %></p>
              </div>
            </div>
            <div class="p_card_body p-2">
              <div class="service_type">
                <span class="fw-bold">Service:</span>
                <%= service.serviceType %>
              </div>
              <div class="service_desc">
                <span class="fw-bold">Description:</span>
                <p class="m-0"><%= service.description %></p>
              </div>
              <div class="service_type">
                <span class="fw-bold">Basic Charges:</span>
                <%= service.basicCharges %>/- INR
              </div>
            </div>
            <div class="p-2">
              <button type="button" class="btn btn-primary appointment_btn" 
                      data-bs-toggle="modal" 
                      data-bs-target="#exampleModal"
                      data-pid=<%= service.providerId %> 
                      data-uid=<%= currentUser.id %> 
                      onclick="storeId(this)"
              >
                Book Appointment
              </button>
            </div>
          </div>
        </div>
        <% }) %>
      </div>

    </div>
  </div>
  

  <!-- Modal for appointment booking-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book your Appointment</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form id="book-appointment-form">
            <div class="mb-3">
              <label for="booking_name" class="form-label">Name: </label>
              <input type="text" name="name" class="form-control" id="booking_name">
            </div>
            <div class="mb-3">
              <label for="booking_phone" class="form-label">Mobile: </label>
              <input type="number" name="mobile" class="form-control" id="booking_phone">
            </div>
            <div class="form-group">
              <label for="service_address" class="form-label">Enter Address: </label>
                <textarea name="address" 
                          class="form-control" rows="3" 
                          id="service_address"
                >
                </textarea>
            </div>
            <div class="mb-3 mt-2">
              <label for="appointment_date" class="form-label">Select Appointment Date:</label>
              <input type="date" name="date" class="form-control w-50" id="appointment_date">
            </div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Book Now</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  
</main>



<%- include("partials/footer") %>
